﻿@charset "utf-8";

/*** total style ***/
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
	background: white ;
	color: black;
	font-family: 'Source Sans Pro', 'メイリオ',Meiryo, 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;
	width: 100%;
}

/*** float ***/
.fl-l {
	float: left;
}
.fl-r {
	float: right;
}

/*** clearfix ***/
.cf:before, .cf:after {
	content:"";
	display:block;
	overflow:hidden;
}
.cf:after { clear:both; }
.cf { zoom:1; }

/*** normalize 対策 ***/
p {
	margin: 0;
  font-size: 1.4rem;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
img{
	vertical-align: top;
}
table{
	border: 0;
	border-collapse:collapse;
}
table tr{
	padding: 0;
}
table tr td{
	border: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}

/*** mouse over ***/
a img {
	/*border: medium none transparent;*/
}
a:hover img {
	filter:alpha(opacity=60);
	opacity: 0.6;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
/*** inner width ***/
.inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.wrapper {

}
/********************************/

/***** common *****/
.ttl1 {
  position: relative;
  margin-bottom: 40px;
  font-size: 3.2rem;
  font-weight: normal;
  color: #243293;
  line-height: 25px;
}
.ttl1:before {
  position: absolute;
  top: 30%;
  left: 50%;
  content: "";
  background: linear-gradient(90deg, #253494 65%, #fff500 65%);
  height: 2px;
  width: 100px;
}
.ttl1:after {
  position: absolute;
  top: 30%;
  right: 50%;
  content: "";
  background: linear-gradient(90deg, #fff500 35%, #253494 35%);
  height: 2px;
  width: 100px;
}
.ttl2 {
  position: relative;
  margin-bottom: 40px;
  font-size: 2.7rem;
  font-weight: normal;
  color: #243293;
  line-height: 20px;
}
.ttl3 {
  position: relative;
  margin-bottom: 45px;
  font-size: 3.2rem;
  font-weight: normal;
  color: #243293;
  line-height: 25px;
}
.ttl3:after {
  position: absolute;
  bottom: -15px;
  left: 0;
  content: "";
  background: linear-gradient(90deg, #fff500 50px, #253494 50px);
  height: 2px;
  width: 100%;
}
.ttl-sub {
  font-size: 1.2rem;
  font-weight: normal;
  color: #243293;
}
.row {
  width: 100%;
  overflow: hidden;
}
.col {
  float: left;
  width: 50%;
}
.col3 {
  float: left;
  width: 25%;
}
.col4 {
  float: left;
  width: 33%;
}
.col4 {
  float: left;
  width: 30%;
}
.col5 {
  float: left;
  width: 42%;
}
.col6 {
  float: left;
  width: 50%;
}
.col7 {
  float: left;
  width: 58%;
}
.col8 {
  float: left;
  width: 67%;
}
.col9 {
  float: left;
  width: 75%;
}
.txtAC {
  text-align: center;
}
.txtAL {
  text-align: left;
}
.txtAR {
  text-align: right;
}
.font-l { font-size: 62.5%; }
.font-l { font-size: 75%; }
.btn {
  background: #253494 url(../images/white_arrow.png) 20px center no-repeat;
  padding: 12px 50px;
  border-radius: 5px;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  transition: .3s;
}
.btn:hover {
  text-decoration: none;
  opacity: .6;
}
/* header
***************************************************************/
header {
  padding-top: 10px;
  border-top: 5px solid #253494;
}
.head-left-box {
  float: left;
}
.head-left-box .logo {
  margin-bottom: -10px;
  font-size: 1.7rem;
  line-height: 1;
}
.head-left-box .logo img {
  margin-right: 15px;
  vertical-align: bottom;
}
.head-right-box {
  float: right;
  overflow: hidden;
}
.head-right-box li {
  float: right;
  overflow: hidden;
  background: url(../images/blue_arrow.png) left center no-repeat;
  margin-left: 30px;
  padding-left: 15px;
  font-size: 1.2rem;
}
.head-right-box a {
  color: #000;
}
.search-area a {
  float: right;
  background: #253494 url(../images/search.png) 47px center no-repeat;
  height: 25px;
  padding: 0 35px 0 20px;
  margin-left: 10px;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  line-height: 25px;
}
.search-area a:hover {
  text-decoration: none;
  opacity: .6;
}
.change-txtsize {
  float: right;
  font-size: 1.2rem;
}
.change-txtsize li {
  float: right;
  text-align: center;
  line-height: 25px;
}
.change-btn {
  background: #253494;
  width: 45px;
  height: 25px;
}
.change-btn:nth-child(2) {
  margin-left: 10px;
}
.change-btn:hover {
  text-decoration: none;
  opacity: .6;
}
.change-btn a {
  color: #fff;
}
.change-btn a:hover {
  text-decoration: none;
}
.gnav {
  margin-top: 15px;
}
.gnav li {
  display: inline-block;
  width: 25%;
  height: 33px;
  border-left: 1px solid #000;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  line-height: 33px;
}
.gnav li:last-child {
  border-right: 1px solid #000;
}
.gnav li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
}
.gnav li a:hover {
  text-decoration: none;
}
.main-contents .inner {
  padding-top: 60px;
}
.index p {
  margin-bottom: 40px;
}
/* .main-visual
***************************************************/
.main-visual {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
/*.main-visual:before {
  position: absolute;
  top: -43.5%;
  left: -43.5%;
  content: "";
  background: #253494;
  width: 100%;
  height: 100%;
  transform: rotate(-39deg);
  opacity: 0.6;
}
.main-visual:after {
  position: absolute;
  bottom: -58.5%;
  right: -58.5%;
  content: "";
  background: #fff500;
  width: 100%;
  height: 100%;
  transform: rotate(-43deg);
  opacity: 0.4;
}*/
.main-visual img {
  width: 100%;
}
.copyArea {
  position: absolute;
  top: 7.5%;
  left: 2%;
  color: #fff;
}
.copy {
  font-size: 6.2rem;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, .5);
}
.copySub {
  font-size: 3.2rem;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, .5);
  line-height: 1.8em;
}
/* .greeting
***************************************************/
.greeting {

}
.greeting .ttl1:before {
  margin-left: -200px;
}
.greeting .ttl1:after {
  margin-right: -200px;
}
/* .news
***************************************************/
.news {
  background: #fafafa;
}
.news .col img {
  width: 100%;
}
.news .col:nth-child(2) {
  padding: 30px 0 0 30px;
}
.news .ttl2:after {
  position: absolute;
  left: 0;
  bottom: -10px;
  content: "";
  background: linear-gradient(90deg, #fff500 35%, #253494 35%);
  height: 2px;
  width: 157px;
}
.news-list {
  font-size: 1.6rem;
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
}
.news-list:last-child{
  margin-bottom: 30px;
}
.news-list dt {
  float: left;
  color: #253494;
}
.news-list dd {
  margin-left: 100px;
  font-size: 1.4rem;
}
.news .btn {
  background-image: none;
}
/* .service
***************************************************/
.service {
  padding-top: 15px;
}
.service .ttl1:before {
  margin-left: -250px;
}
.service .ttl1:after {
  margin-right: -250px;
}
.service-list {
  margin-bottom: 95px;
}
.service-list li {
  display: inline-block;
  width: 25%;
  max-width: 283px;
  margin-right: 1.8%;
  font-size: 1.4rem;
  text-align: left;
  vertical-align:top;
}
.service-list li:last-child {
  margin-right: 0;
}
.service-list-ttl {
  position: relative;
  margin-bottom: 10px;
  padding-left: 12px;
  color: #243293;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.service-list-ttl:before {
  position: absolute;
  left: 0;
  content: "●";
  color: #243293;
  font-size: .4em;
  line-height: 26px;
}
.service-list .list-ttl {
  margin-bottom: 10px;
}
.service-list .service-bg {
  overflow: hidden;
  background: #fafafa no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 9px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.service-list .service-bg img {
  width: 100%;
}
.service-list .service-bg .service-txt-area {
  padding: 10px 20px;
}

/* .member
***************************************************/
.member {
  background: #fafafa;
  padding-bottom: 75px;
}
.member .ttl1:before {
  margin-left: -220px;
}
.member .ttl1:after {
  margin-right: -220px;
}
.member-list {
  margin-bottom: 70px;
}
.member-list li {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 25%;
  max-width: 270px;
  margin-right: 3%;
  border-radius: 9px;
  font-size: 1.4rem;
  text-align: left;
  vertical-align:top;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.member-list li:last-child {
  margin-right: 0;
}
/*.member-list li:after {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #243293;
  content: "";
  width: 100%;
  height: 28%;
  opacity: .6;
}*/
.member-list li　figure {
  position: relative;
  width: 100%;
  margin: 0;
}
.member-list li　figure img {
  width: 100%;
}
.member-list figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(36, 50, 147, 0.6);
  content: "";
  width: 100%;
  height: 28%;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
}
.member-list figure a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.member-list table {
  width: 100%;
  margin-top: 15px;
}
.member-list td {
  width: 50%;
  padding-left: 25px;
  line-height: 1.7em;
}
.member-list td.length {
  padding-left: 0;
}
/* .rectuit
***************************************************/
.recruit {
  padding-bottom: 85px;
}
.recruit .ttl1:before {
  margin-left: -220px;
}
.recruit .ttl1:after {
  margin-right: -220px;
}
.recruit .row {
  margin-bottom: 70px;
}
.recruit .col:first-child {
  padding-right: 30px;
}
.recruit .col:last-child {
  padding-left: 30px;
}
.recruit .col img {
  width: 100%;
}
.rec-ttl {
  margin-bottom: 10px;
  color: #243293;
  font-size: 2.2rem;
  text-align: left;
  letter-spacing: 4px;
}
/* footer
***************************************************/
footer {
  background: #eee;
  padding: 40px 0 25px;
}
.fnav {
  margin-bottom: 50px;
}
.fnav .parent {
  display: inline-block;
  width: 25%;
  font-size: 1.6rem;
  font-weight: bold;
}
.fnav .child {
  background: url(../images/blue_arrow.png) left center no-repeat;
  padding-left: 15px;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 2em;
}
.fnav .child a {
  color: #000;
}
.totop {
  background: #253494;
  height: 25px;
  margin-bottom: 30px;
  text-align: right;
}
.totop a {
  background: url(../images/to-top.png) left center no-repeat;
  padding-left: 25px;
  color: #fff;
  font-size: 1.2rem;
  line-height: 25px;
}
.link li {
  display: inline-block;
  padding: 0 20px;
  font-size: 1.3rem;
  text-decoration: underline;
}
.link li:first-child {
  padding-left: 0;
}
.link li:nth-child(2) {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.link li a {
  color: #000;
}
.legal {
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.logo-area li {
  float: right;
  margin-left: 15px;
}


/*****************************************************************************
下層ページ
*******************************************************************************/
.lower {

}
.low-visual {
  background: center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 75px 0;
}
.low-ttl {
  font-size: 3.4rem;
  color: #253494;
  line-height: 114px;
}
.breadcrumb {
  padding-left: 0;
  font-size: 1.2rem;
  border-bottom: 45px;
}
.breadcrumb li {
  position: relative;
  display: inline-block;
  margin-right: 25px;
}
.breadcrumb li:after {
  position: absolute;
  left: 113%;
  content: "＞";
}
.breadcrumb li:last-child:after {
  content: "";
}
/*news.html*********************************************************************/
.news .low-visual {
  background-image: url(../images/bg_mv_topic.jpg);
}
.news-detail .day{
  margin-left: 25px;
  font-size: .6em;
  letter-spacing: 2px;
}
.txt-area {
  overflow: hidden;
  border-bottom: 1px dashed #000;
  margin-bottom: 115px;
  padding-bottom: 30px;
  width: 100%;
  height: auto;

  }
.txt-area p{
  font-size: 1.4rem;
  line-height: 2.5em;
  letter-spacing: 2px;
}
